<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>{{#resume.basics}}{{name}} CV{{/resume.basics}}</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="shortcut icon" type="image/png" href="favicon.png?">
  <style>
    {{{css}}}
  </style>
</head>

<body>
  <main id="resume" class="page">
    {{> header}}
    <div class="resume-content">
      <div class="right-column">
        {{> education }}
        {{> work }}
      </div>
    </div>
  </main>
</body>

</html>
