/*----- Colors -----*/

$gray-dark: #999;
$gray-lightest: #f8f8f8;

$slate-gray: #39424b;
$slate-green: #56817a;

$primary-color: $slate-green;
$secondary-color: $slate-gray;

$link-color: #2895f1;

/*----- Fonts -----*/

$primary-font: "Lato", Helvetica, Arial, sans-serif;
$secondary-font: "Josefin Sans", Helvetica, Arial, sans-serif;

/*----- Dimensions and sizes -----*/

$page-width: 612px;
$page-height: 792px;

$font-unit: 4px;
$profile-pic-size: 52px;
$aside-width: 160px;
$aside-margin: 20px;
$pad-unit: 5px;
