/* Utils */
/*----- Colors -----*/
/*----- Fonts -----*/
/*----- Dimensions and sizes -----*/
/* Base */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/josefinsans/v20/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_GbQbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/josefinsans/v20/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #f8f8f8;
  margin: 50px 0 100px;
  letter-spacing: 0.3px;
  color: #39424b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

h2 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
}

h3 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.4px;
}
h3.bold {
  font-weight: 700;
}

h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

h5 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 11px;
  font-style: italic;
}

h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #2895f1;
}
a .fa-external-link {
  font-size: 10px;
  vertical-align: text-top;
}

p,
li {
  font-size: 11px;
}

ul {
  margin: 10px 0 0;
  -webkit-padding-start: 25px;
}
ul li {
  padding-left: 10px;
}

.container {
  padding-top: 20px;
}
.container:first-child {
  padding-top: 0px;
}

.keyline {
  margin: 2px 0 10px;
  border-top: 1px solid #56817a;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.profile-pic {
  margin-top: -5px;
}

/* Layouts */
.page {
  background: white;
  width: 612px;
  min-height: 792px;
  display: block;
  margin: 0 auto;
  border-top: 10px solid #56817a;
  padding: 36px 22px 30px 34px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
.page:after {
  content: "";
  display: table;
  clear: both;
}

.right-column {
  width: auto;
  overflow: hidden;
}

.item {
  margin-bottom: 15px;
}
.item:last-child {
  margin-bottom: 0;
}

@media print {
  @page {
    margin: 0;
    margin-bottom: 10px;
  }
  body {
    margin: 0;
  }

  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 36px 0 30px;
    box-shadow: none;
  }
  .page .resume-header,
.page .resume-content {
    padding: 0 22px 0 34px;
  }

  .work-container .item {
    page-break-inside: avoid;
  }

  .fa-external-link {
    display: none;
  }
}
/* Components */
.info-tag-container {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.info-tag-container .info-text {
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1px;
}