{{#if resume.education.length}}
<div class="container education-container">
  {{> title value="Education"}} {{#each resume.education}}
  <section class="item">
    {{> section-header name=institution }}
    <h4>{{#if score}}{{score}}{{/if}} {{#if studyType}}{{studyType}}{{/if}}{{#if area}}: {{area}}{{/if}}</h4>

    {{#if courses.length}}
      <ul class="one-column">
        {{#each courses}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
